* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 768px;
  margin: 0 auto;
  overflow-x: hidden;
}

@media (max-width: 767px) {
  html,
  body {
    width: 100%;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  font-size: 14px;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  background-color: #dbd5e0;
}

body {
  background-color: #fff;
  height: 100vh;
}
/*
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
